---
import page from '../layouts/page.astro';
import "../styles/global.css";
import { Icon } from 'astro-iconify';
import Layout from "../layouts/page.astro"
import Header from '../components/Header.astro';
---

<Layout>
  <Header />

<main class="max-w-3xl mx-auto mt-16 px-6">
  <section class="mb-12">
    <h1 class="text-3xl font-bold text-gray-900 mb-4">About Me</h1>
    <p class="text-lg text-gray-700 leading-relaxed">
      Hi, I'm Kristian Huisman, a 19 year old Student Software Developer based in the Netherlands. My journey in software development began in 2022 at the Technova College in Ede. And since then i have build various clean, efficient, and user-friendly web applications using various technologies.
    </p>
  </section>

  <section>
    <h2 class="text-2xl font-semibold text-gray-900 mb-4">Tech Stack</h2>
    <ul class="flex flex-wrap gap-4">
        <li class="flex items-center bg-white rounded shadow px-4 py-2">
          <Icon name="logos:html-5" class="w-6 h-6 mr-2" />
        </li>
        <li class="flex items-center bg-white rounded shadow px-4 py-2">
          <Icon name="logos:css-3" class="w-6 h-6 mr-2" />
        </li>
        <li class="flex items-center bg-white rounded shadow px-4 py-2">
        <Icon name="logos:tailwindcss-icon" class="w-6 h-6 mr-2" />
      </li>
      <li class="flex items-center bg-white rounded shadow px-4 py-2">
        <Icon name="logos:javascript" class="w-6 h-6 mr-2" />
      </li>
      <li class="flex items-center bg-white rounded shadow px-4 py-2">
        <Icon name="logos:php" class="w-6 h-6 mr-2" />
      </li>
      <li class="flex items-center bg-white rounded shadow px-4 py-2">
        <Icon name="logos:react" class="w-6 h-6 mr-2" />
      </li>
      <li class="flex items-center bg-white rounded shadow px-4 py-2">
        <Icon name="logos:laravel" class="w-6 h-6 mr-2" />
      </li>
       <li class="flex items-center bg-white rounded shadow px-4 py-2">
        <Icon name="logos:astro-icon" class="w-6 h-6 mr-2" />
      </li>
      
      <li class="flex items-center bg-white rounded shadow px-4 py-2">
        <Icon name="logos:docker-icon" class="w-6 h-6 mr-2" />
      </li>
      <li class="flex items-center bg-white rounded shadow px-4 py-2">
        <Icon name="logos:wordpress-icon" class="w-6 h-6 mr-2" />
      </li>
    </ul>
  </section>
</main>
</Layout>
    